DEFAULT menu.c32
PROMPT 0
ALLOWOPTIONS 0
NOESCAPE 1

MENU TITLE Boot menu
MENU AUTOBOOT Starting system in # seconds
TIMEOUT 600         # 60 seconds
TOTALTIMEOUT 9000   # 900 seconds

LABEL auto-debian-9
    MENU DEFAULT
    MENU LABEL ^Debian 9 auto install
    KERNEL debian-installer/amd64/linux
    APPEND auto=true priority=critical vga=788 initrd=debian-installer/amd64/initrd.gz preseed/url=http://10.1.0.254/pxe/deb-pres.cfg net.ifnames=0 netcfg/choose_interface=eth0

